
@{
    ViewBag.Title = "Child Care Subsidy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
    <link href="~/Content/css/Myfont.css" rel="stylesheet" />
    <link href="~/Content/css/coolSideBar.css" rel="stylesheet" />
</head>


<body id="nav121">

    <div style="height:120px"></div>
    <a href="javascript:" id="return-to-top"><span class="icon-arrow-up"></span></a>


    <section>
        <div class="container" id="fees">
            <div class="row justify-content-center" data-aos="fade-up">


                <div class="col-lg-12 heading-section mb-5">
                    <h2 class="darkBlue text-center mb-2" data-aos="fade-right">What is Child care subsidy ?</h2>
                    <h3 class=" text-center green1" style="margin-top:20px" data-aos="fade-right">
                        Am I eligible?

                    </h3>
                    <div>
                        <ul class="breadcrumb">
                            <li>
                                <a href="~/Home/FSupport">
                                    <span class="icon icon-beaker"></span>
                                    <span class="text">Child Care Subsidy</span>
                                </a>
                            </li>

                            <li>
                                <a href="~/Home/FinancialSupport">
                                    <span class="icon icon-beaker"></span>
                                    <span class="text">Financial Support</span>
                                </a>
                            </li>

                            <li>
                                <a href="~//Home/Index">
                                    <span class="icon icon-home"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="text-black" data-aos="fade-right">
                        <strong> 1.Childcare requirement:</strong>
                        <ul class="list-unstyled  primary mb-0 text-black">
                            <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                            <li>
                                &bull; Taking care of your child in any event 2 evenings or 14% for each fortnight.
                            </li>
                            <li>&bull; Need to pay for any approved child care service.</li>
                        </ul>
                    </p>
                    <p class="text-black" data-aos="fade-right">
                        <strong>
                            2.Residency requirements (meet one of the following
                        </strong>
                        <ul class="list-unstyled  primary mb-0 text-black">
                            <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                            <li>
                                &bull; You or your accomplice must be living in Australia and any one of you holds Australian citizenship or one of the following visa,
                                a permanent visa, a Special Category visa, a certain temporary visa type.
                            </li>
                            <li>
                                &bull; you or your accomplice are an understudy from abroad, supported by the Australian Government to concentrate in Australia .
                            </li>
                            <li>
                                &bull; you're in difficulty, or unique conditions apply.
                            </li>
                        </ul>
                    </p>
                    <p class="text-black" data-aos="fade-right">
                        <strong>
                            3.Child relevant requirements:
                        </strong>
                        <ul class="list-unstyled  primary mb-0 text-black">
                            <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                            <li>
                                &bull; Strictly follow the Childhood schedule published by the Department of Health’s National Immunisation Program Schedule as well as the current Australian Immunisation Handbook.
                            </li>
                            <li>
                                &bull; Apply for a medical exemption  on the Australian Immunisation Register (AIR).
                            </li>
                            <li>
                                &bull; Your child is under 13 or 14 to 18 with disability.
                            </li>
                        </ul>
                    </p>
                    <p class="text-black" data-aos="fade-right">
                        <strong>
                            4.Requirements for additional subsidy (meet one of the following):
                        </strong>
                        <ul class="list-unstyled  primary mb-0 text-black">
                            <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                            <li>
                                &bull;  You are a grandparent.
                            </li>
                            <li>
                                &bull;  You are transitioning to work.

                            </li>
                            <li>
                                &bull;  You are experiencing temporary financial hardship.
                            </li>
                        </ul>


                    </p>

                </div>



                <div class="col-lg-12 heading-section mb-5 text-center" data-aos="fade-up">
                    <h2 class="green1 text-center mb-2">Kindergarten fee subsidy</h2>

                    <p class="darkBlue">
                        The kindergarten fee subsidy allows children to access up to 15 hours of funded kindergarten
                        delivered by a qualified early childhood teacher for free or at low cost.
                    </p>

                    <h3 class=" green1" style="margin-top:50px">
                        How to calculate Kindergarten fee subsidy?
                    </h3>
                    <p class="darkBlue">
                        The calculator below assists service providers to work out how much to charge families eligible for the kindergarten fee subsidy if the child is <Strong>accessing more than 15 hours per week</Strong> (or 600 hours per year).
                        Service providers are required to provide eligible families with the<strong> first 15 hours per week (or 600 hours per year) of the program free </strong>of charge and charge no more than the average hourly rate (for that service) for the additional hours.
                        All service providers offering more than 15 hours per week (or 600 hours per year) are encouraged to consider providing the entire program to eligible children free of charge.
                        After entering your program's weekly hours and annual fee in the green cells, it will calculate the cost to families per year, term, week and hour.

                    </p>
                </div>
                <div id="containerv1">
                    <div id="title-headv1 " data-aos="fade-right">
                        <h3 class="green1">
                            Kindergarten fee subsidy - calculator

                        </h3>
                        <p class="text-center" style="color:#0d0d0d">What are eligible families required to Pay?</p>

                    </div>
                    <div class="row hover-1-wrap mb-5 mb-lg-0">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="mb-4  col-lg-6 order-lg-2" data-aos="fade-right">
                                    <p class="pink" style="font-weight:bold">Three Steps to calculate the payment:</p>
                                    <p class="darkBlue">
                                        <ul class="list-unstyled darkBlue  mb-0 ">
                                            <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                                            <li>
                                                &bull; Input Weekly program hours.<br />
                                                &nbsp; It is about the weekly hours the child stay in the<br /> &nbsp; Kindergarten.<br /><br />
                                            </li>
                                            <li>
                                                &bull; Input Annual program fees<br />
                                                &nbsp; It is about the Annual Fees amount you get from the Kindergarten.<br /><br />
                                            </li>
                                            <li>
                                                &bull; Click Calculate button.<br />
                                                &nbsp; The result will show above the Calculate button<br /><br />
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="col-lg-6 mr-auto  align-self-center order-lg-1" data-aos="fade-left">

                                    <p>
                                        <Strong>Weekly program hours:</Strong><br />
                                        <input type="number" name="q1" id="q1" />
                                    </p>

                                    <p>
                                        <Strong>Annual program fee:</Strong><br />
                                        <input type="number" name="q2" id="q2" />
                                    </p>
                                    <p>
                                        Weekly program hours: 15
                                    </p>
                                    <p>
                                        Annual subsidy amount: 1317 AUD
                                    </p>
                                    <p>
                                        <Strong> Subsidy Gap </Strong><br />
                                        Gap between subsidy and program fee:<br />

                                        <input type="text" name="gapfees" id="gapfees" disabled>

                                    </p>
                                    <p>
                                        Fee for additional program hours:
                                        <input type="text" name="gaphours" id="gaphours" disabled>
                                    </p>


                                    <p><Strong>Cost of additional program Fees</Strong></p>
                                    <p>Annual:</p>
                                    <input type="text" name="AnnualFee" id="AnnualFee" disabled>
                                    <p>Term:</p>
                                    <input type="text" name="TermFee" id="TermFee" disabled>
                                    <p>Week:</p>
                                    <input type="text" name="WeekFee" id="WeekFee" disabled>
                                    <p style="margin-top:30px"><button type="button" class="btn btn-primary" id="calcu">calculate</button></p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

        </div>

        <div style="margin-top:20px">
            <div class="multi-button">
                <button><span class="icon-arrow-left"></span><a href="~/kinderInfoSets/Index" class="button" id="navbtn"> Find Kindergarten </a></button>
                <button><a href="~/Home/EnrollmentMore" class="button" id="navbtn"> Enrolment </a> <span class="icon-arrow-right"></span></button>

            </div>
        </div>
    </section>


    <script src="~/Scripts/js/feesCalcu.js"></script>


</body>
</html>