
@{
    ViewBag.Title = "EnrollmentMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>

<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
</head>
<body id="nav121">
    <div style="height:200px"></div>
    <!--title part-->
    <div class="site-blocks-cover " data-aos="fade">
        <div class="container">
            <!--Quick guide-->
            <section class="site-section" id="faq-section">
                <div class="container">
                    <div class="row justify-content-center" data-aos="fade-up">
                        <div class="col-lg-6 text-center heading-section mb-5">
                            <h2 class="text-black mb-2">Quick Guideline of Kindergarten Enrollment</h2>
                            <p>A few steps to get ready for Kindergarten </p>
                        </div>
                    </div>
                    <div class="row accordion justify-content-center block__76208">
                        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="">
                            <!--navigation-->
                            <div class="md-stepper-horizontal orange">
                                <div class="md-step active" id="step11">
                                    <div class="md-step-circle"><span>1</span></div>
                                    <div class="md-step-title">Selection</div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                                <div class="md-step active" id="step12">
                                    <div class="md-step-circle"><span>2</span></div>
                                    <div class="md-step-title">Costing Check</div>
                                    <div class="md-step-optional"></div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                                <div class="md-step active" id="step13">
                                    <div class="md-step-circle"><span>3</span></div>
                                    <div class="md-step-title">Enrollment</div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                                <div class="md-step active" id="step14">
                                    <div class="md-step-circle"><span>4</span></div>
                                    <div class="md-step-title">First day at kindergarten</div>
                                    <div class="md-step-bar-left"></div>
                                    <div class="md-step-bar-right"></div>
                                </div>
                            </div>

                            <!--navigation-->


                            <div class="row hover-1-wrap mb-5 mb-lg-0" style="margin-top:30px" id="Eli-1">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
                                            <a class="hover-1">
                                                <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                                            <h2 class="text-black">Step1 Kindergarten selection</h2>
                                            <p class="mb-4">
                                                In this step, parents are required to choose a nearby kindergarten
                                                , book an appointment with the selected kindergarten and check for various quality aspects of the kindergarten. In order to go through stepwise information, please click this image.

                                            </p>
                                            <p><a href="#erStep1" class="btn btn-primary">See details</a></p>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hover-1-wrap  mb-5 mb-lg-0" style="margin-top:30px" id="Eli-2">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="mb-4 mb-lg-0 col-lg-6">
                                            <a class="hover-1">
                                                <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-lg-5 ml-auto align-self-center">
                                            <h2 class="text-black">Step 2  Kindergarten costing </h2>
                                            <p class="mb-4">
                                                In this step, parents are required to go through kinder related expenses and fee structures.
                                                In order to expand this section, please click this image.

                                            </p>
                                            <p><div><a href="#erStep2" class="btn btn-primary">See details</a></div></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hover-1-wrap" style="margin-top:30px" id="Eli-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
                                            <a class="hover-1">
                                                <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                                            <h2 class="text-black">Step3 Enrollment checklist</h2>
                                            <p class="mb-4">
                                                In this section you will be able to view all the activities and tasks that you should keep in mind when dropping off your child to kindergarten for the first time. Please click on the image in order to view the checklist.
                                            </p>
                                            <p><div><a href="#erStep3" class="btn btn-primary">See details</a></div></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hover-1-wrap mb-5 mb-lg-0" style="margin-top:30px" id="Eli-4">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="mb-4 mb-lg-0 col-lg-6">
                                            <a class="hover-1">
                                                <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 ml-auto align-self-center">
                                            <h2 class="text-black">Step 4 First day at kindergarten </h2>
                                            <p class="mb-4">
                                                In this section you will be able to view all the activities and tasks that you should keep in mind when dropping
                                                off your child to kindergarten for the first time. Please click on the image in order to view the checklist.

                                            </p>
                                            <p><div><a href="#erStep4" class="btn btn-primary">See details</a></div></p>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </section>
            <!--Quick guide-->
        </div>
    </div>

    <!--mainBody-->
    <!--4blocks-->



    <div class="container" id="erStep1">

        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up">
                    <div class="col-lg-6 text-center heading-section mb-5">
                        <h2 class="text-black mb-2">Kindergarten Enrollment</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 blog-content data-aos=" data-aos="fade-up">
                        <h2 class="text-black">Step 1<br /> Kindergarten selection </h2>
                        <p class="lead mb-5">
                        <p class="text-black">Task 1:</p>
                        <p class="mb-4">
                            Choose a kindergarten in your vicinity via Kinder Search tab on the website
                        </p>
                        <p class="text-black">Task 2:</p>
                        <p class="mb-4">
                            Book an appointment with the shortlisted kinders and give a visit with your child.
                        </p>
                        <p class="text-black">Task 3:</p>
                        <p class="mb-4">
                            Check Quality of Kindergarten:
                            <ul class="list-unstyled  primary mb-0 ">
                                <li>1.Check for Safety of your child and all potential hazards</li>
                                <li>
                                    2.Check for cleanliness
                                </li>
                                <li>
                                    3.Check for the physical environment that the kindergarten has to offer
                                </li>

                                <li>
                                    4.Check for the quality and quantity of staff so that you know that they are enough to pay attention to your child
                                </li>
                            </ul>
                        </p>
                        <p class="text-black">Task 4:</p>
                        <p class="mb-4">
                            Checking curriculum:
                            <ul class="list-unstyled  primary mb-0 ">
                                <li>1.Families experiencing temporary financial hardship</li>
                                <li>2.Parents transitioning back to work from income support</li>
                                <li>3.Grandparent carers on income support</li>
                            </ul>
                        </p>


                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <figure id="erStep2">

                                    <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">

                                </figure>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div class="row hover-1-wrap mb-5 mb-lg-0">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                        <a href="#" class="hover-1">
                            <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                        <h2 class="text-black">Step 2<br /> Costing Checking </h2>
                        <p class="mb-4" id="erStep3">
                            Kindergartens are often funded up to 15 hours per week that is, that either it is low cost or no cost at all.
                            Depends upon kinder selected. Upon Kinder selection, work out the fees and go through their fee structure and guidelines so that you are planned well beforehand.
                            Also, keep in mind all the subsidies that might be there depending upon your financial conditions
                        </p>
                        <p class="mb-4">
                            Note: If your child attended 3 years kinder, then he/she might be eligible for free or low cost kinder.
                        </p>


                    </div>
                </div>
            </div>
        </div>

        <div class="row hover-1-wrap">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                        <a href="#" class="hover-1">
                            <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-5 mr-auto  align-self-center order-lg-1" data-aos="fade-left">
                        <h2 class="text-black">Step 3<br /> Enrollment</h2>
                        <p class="mb-4">
                            <ul class="list-unstyled  primary mb-0 ">
                                <li>1.Name and full address of the child.</li>
                                <li>
                                    2.Guardian/Parents name, address and contact information.
                                </li>
                                <li>
                                    3.Child’s identity documents, passport, birth certificate and other relevant documents.
                                </li>
                                <li>4.Child’s medical reports, medical prescriptions and report of medicine/general allergies.</li>
                                <li>5.Information of all the people who are authorised to pick your child up from the kindergarten.</li>
                                <li>
                                    6.No Jab-No play (Child’s immunisation history from Australian Immunisation Register and vaccine statements from the doctor)
                                </li>
                                <li id="erStep4">
                                    7.Financial statements that you are ready to pay for the child.
                                </li>
                                <li>
                                    8.Parent’s identity documents and credit/debit card for the enrollment fee.
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hover-1-wrap mb-5 mb-lg-0">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                        <a href="#" class="hover-1">
                            <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                        <h2 class="text-black">Step 4<br /> First day at kindergarte</h2>
                        <p class="mb-4">
                            <ul class="list-unstyled  primary mb-0 ">
                                <li>
                                    1.Greet the child bye and make them understand that he/she will be at kinder without the parents as this is the first time for the child without parents around.
                                </li>
                                <li>
                                    2.Make sure the child is appropriately dressed according to the kinder guidelines.

                                </li>
                                <li>
                                    3.Make sure to give medicines, water, food and other necessary items to the child.

                                </li>
                                <li>4.Follow kinder instructions and send cap/extra clothes/towel/napkin and other stuff with the child.</li>
                                <li>
                                    5.Drop your child and stay for 10 minutes in order to see if everything is fine.
                                </li>
                                <li>
                                    6.Pick your child up well on time and ask how the day went.
                                    )
                                </li>
                                <li>
                                    7.Be supportive and encourage your child to attend kinder.
                                </li>

                            </ul>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin:50px">
        <div class="col-lg-10 text-center">
            <h3 class=" text-center text-black" style="margin-top:50px">
                Congratulations! you reach the final step!<br /><br />
                Hope your children will enjoy the life in Kindergarten!

            </h3>
        </div>
    </div>
    <div style="margin-top:20px" >
        <div class="multi-button">
            <button><span class="icon-arrow-left"></span><a href="~/Home/Index" class="button" id="navbtn"> Home </a></button>
            <button><a href="~/Home/#question-section" class="button" id="navbtn"> Frequently Ask questions </a> <span class="icon-arrow-right"></span></button>

        </div>
    </div>

    <div style="height:50px"></div>



</body>
</html>
    <!--end of 4 blocks-->
