
@{
    ViewBag.Title = "Financial Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
    <link href="~/Content/css/Myfont.css" rel="stylesheet" />
    <link href="~/Content/css/coolSideBar.css" rel="stylesheet" />
</head>


<body id="nav121">


    <!--title part-->
    <div style="height:80px"></div>
    <a href="javascript:" id="return-to-top"><span class="icon-arrow-up"></span></a>




    <!--main body-->
    <!--4blocks-->
    <section class="site-section" id="kinder-education">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h2 class="mb-2 darkBlue">Additional Childcare Subsidy for Families</h2>

                </div>
                <p class="text-center darkBlue" style="font-weight:bold">
                    We know it’s not always smooth sailing when it comes to finances, and that’s why we want to do everything we can to help you access care when you need it most. We want the children in our care to enjoy uninterrupted access to learning and high-quality care.
                    So, we’re here to help and to reassure you that there are options to help you get through times of financial difficulty, without the need to reduce or remove your child from care.
                </p>




            </div>
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="~/Home/FSupport">
                            <span class="icon icon-beaker"></span>
                            <span class="text">Families Subsidy</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Home/FinancialSupport">
                            <span class="icon icon-beaker"></span>
                            <span class="text">Financial Support</span>
                        </a>
                    </li>

                    <li>
                        <a href="~//Home/Index">
                            <span class="icon icon-home"></span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-6 mr-auto align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="green1">Financial difficulty </h2>
                            <p class="mb-4">
                                If your income has been reduced or impacted by a significant event in your life, we encourage you to read on and find out what assistance you may be eligible for.
                                You can also call our concierge team on 13 82 30 to discuss your individual situation,
                                visit Services Australian website, via myGov or head into your local Centrelink office.
                            </p>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top:50px" data-aos="fade-up">
                <div class="col-lg-8 text-center mb-5">
                    <h2 class="mb-2 pink1">Temporary Financial Hardship</h2>
                </div>
                <p class="mb-4 darkBlue">
                    The Additional Child Care Subsidy (ACCS) Temporary Financial Hardship payment, in many cases, will cover the full fees charged by your child care centre.
                    It is designed to support families experiencing significant financial stress due to exceptional circumstances including
                    job loss, caring for an ill loved one, or having recently lost a family member.
                </p>
                <p class="mb-4 darkBlue">
                    If eligible, the additional support means there’s no need to interrupt your child’s learning,
                    and that we can continue to support your family with the care you’re used to, when you need it most.
                </p>
                <p class="mb-4 darkBlue">
                    This additional support is there to help families through difficult times – and to give you one less thing to worry about.
                    To discuss your individual circumstances, speak to your Centre Manager,
                    head to the via myGov website or contact our by email.
                </p>

            </div>
        </div>
    </section>
    <!--end of 4 blocks-->
    <!--About us-->
    <section class="site-section bg-primary trainers" id="about-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 align-self-center mr-auto text-left heading-section mb-5">

                    <h2 class="text-white mb-3">Financial Support for Families Returning to Work</h2>
                    <p class="text-white mb-4"> This additional payment is for those families who are currently receiving JobSeeker or Parenting Payments and who are training, re-skilling or returning to work. The subsidy will pay up to 95% of your childcare fees to help you get back to work or undertake study or training to help you find new work. The support can also continue for up to 12 weeks after your work begins. </p>
                    <p class="text-white mb-4">
                        If you think you may be eligible for this support, speak to your Centre Manager or contact our Concierge Team.
                    </p>

                    <h2 class="text-white mb-3">Financial Support for Grandparents</h2>
                    <p class="text-white mb-4">
                        This support is for grandparents on income support who are caring for a grandchild at least 65% of the time. Similar to the Temporary Financial Hardship Subsidy, this subsidy provides up to 100 hours of care a fortnight and is not subject to an activity test.
                        If you think you may be eligible for this support, speak to your Centre Manager or contact our Concierge Team.
                    </p>
                </div>
                <div class="col-lg-6 text-left heading-section mb-5" data-aos="fade-up" data-aos-delay="100">


                    <img src="~/Content/images/FINANCIAL SUPPORT.jpg" alt="Image" class="img-fluid" />

                </div>


                <div class="col-lg-12 text-left heading-section mb-5" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="text-white mb-3">How do I Apply for Additional Financial Support?</h2>
                    <p class="text-white mb-4">
                        You can apply online on the Services Australian website, via myGov, or in-person by visiting your local Centrelink office.
                        We recommend you prepare for your application with the following information to ensure the process is as fast and efficient as possible:

                        <ul class="list-unstyled text-white  primary mb-4 ">
                            <li>1.The event or incident that has led to financial hardship, e.g. lost a job, reduced income, family illness etc.</li>
                            <li>2.The date this event occurred</li>
                            <li>3.How this has affected your family’s ability to pay your childcare fees</li>
                            <li>4.In the case of the Transition to Work Subsidy, you will need to have a plan for what you want to do and when you plan to start.</li>
                        </ul>
                    </p>
                </div>



            </div>
        </div>

        <div style="margin-top:10px">
            <div class="multi-button">
                <button><span class="icon-arrow-left"></span><a href="~/Home/HSWpage" class="button" id="navbtn"> Health, Safety & Wellbeing </a></button>
                <button><a href="~/Home/KinderElig" class="button" id="navbtn"> Eligibility </a> <span class="icon-arrow-right"></span></button>

            </div>
        </div>



    </section>

</body>
</html>
    <!--end of about us-->
