
@{
    ViewBag.Title = "Health, Safety & Wellbeing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
</head>


<body id="nav121">

    <!--title part-->

    <div style="height:200px"></div>


 

    <!--mainBody-->

    <!--main body-->
    <!--4blocks-->
   
        

   
    <section class="site-section" id="kinder-education" style="margin-top:10px">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h2 class="text-black mb-2">HEALTH, SAFETY & WELLBEING</h2>
                <p class="post-meta">The health, safety and wellbeing of our people – big and small – is always our highest priority.</p>
                <p class="text-center">
                    It is important we are both safe and practical when it comes to our policies around health, safety and wellbeing. <br />
                    We know parents are busy, so our policies – whilst grounded in safety – also consider life’s practicalities.
                </p>
            </div>
        </div>

        <div class="container">

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                   
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">

                            <h2 class="text-black">Drop off and pick-up:</h2>
                            <p class="mb-4">
                                Usually  mornings and afternoons are a busy time for all the parents,
                                Therefore the health and safety must be in place for parents and for the kids while dropping off and picking up.
                                Make sure you don't touch anything and ask your child to ensure proper sanitization while leaving or entering the kindergarten.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                            <p class="mb-4">
                                For example, a child's presence or absence must be recorded at all times and ask the kinder teachers
                                and your children to make sure they keep washing their hands. This ensures the accuracy of the number of children in attendance and that the correct measures  are being taken.
                                That is why it is important that families sign their child in at the start of the day and out at the end of the day.
                                It also means your attendance is recorded accurately for any Child Care Subsidies you may be receiving.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Our duty</h2>
                            <p class="mb-4">
                                Our duty is to sign in our kids when going to a kinder and always make sure that they are well enough and healthy enough to attend the kinder.
                                No one will want all the children to get sick just because of one kid.


                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                            <h2 class="text-black"></h2>
                            <p class="mb-4">
                            <p>
                                That is why there must  also be  strict guidelines how your child can leave the Kinder:
                            </p>
                            <ul class="list-unstyled primary mb-0 ">
                                <li>
                                    1.A parent must give a written note to the child if they want the kid to be excused from something.
                                </li>
                                <li>
                                    2.If there is any emergency leave required, a medical certificate must be given to the child.
                                </li>
                                <li>
                                    3.No child must be left unattended
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!--end of 4 blocks-->
    <!--About us-->
    <section class="site-section bg-primary trainers" id="about-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
                    <div class="ml-4">
                        <img src="~/Content/images/bai12.png" style="max-width:60%; margin-bottom:10px" />
                    </div>
                    <h2 class="text-white mb-3">Wellbeing and nutrition:</h2>
                    <p class="lead text-white"> Educating children about the importance of healthy eating and good nutrition is an important part of early childhood development. We believe in providing a positive eating environment that reflects dietary requirements, cultural and family values, and promotes lifelong learning for children. </p>
                    <p class="text-white mb-4">
                        We are committed to promoting and supporting healthy food and drink choices that meet the requirements for children according to the Australian Dietary Guidelines.
                        We also value families’ contributions to menu planning because we know this is the best way to extend healthy habits from the Centre into the home and beyond. Specifically:
                    </p>
                    <ul class="list-unstyled ul-paw primary mb-0 text-white">
                        <li>1.We always follow through health and hygiene practices for handling, preparing and storing food.</li>
                        <li>2.Children always have access to food and water throughout the day</li>
                        <li>3.Children’s individual dietary requirements are catered for and we work together with families to support each child’s needs</li>
                        <li>4.Positive mealtime experiences through education and role-modelling of healthy eating practices.</li>
                    </ul>

                </div>
                <div class="col-lg-6 text-left heading-section mb-5" data-aos="fade-up" data-aos-delay="100">

                
                    <img src="~/Content/images/Heath W S.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
        </div>
       
        <div style="margin-top:100px" data-aos="fade-right">
            <div class="multi-button">
                <button><span class="icon-arrow-left"></span> <a href="~/Home/LinKG" class="button" id="navbtn"> Advantages in Kindergartens </a></button>
                <button><a href="~/Home/FSupport" class="button" id="navbtn"> Financial Support </a> <span class="icon-arrow-right"></span></button>
                
            </div>
        </div>


    </section>
    <!--end of about us-->

</body>
</html>
