@{
    ViewBag.Title = "Home";
}

<html>
<!--home page-->
<head>
    
    <script>

        var password;
        var pass1 = "T@am39QQQ";

        password = prompt('Please enter your password to view this page!', '');

        if (password == pass1) {
            window.location = '#';
        } else {
            do {
                password = prompt('Wrong password, please the correct password', '');
            } while (password != pass1);
            window.location = '#';
        }
    </script>

  

    <link href="~/Content/css/stackedcards.css" rel="stylesheet" />
    <!--slider-->

    <link href="~/Content/css/slick.css" rel="stylesheet" />
    <link href="~/Content/css/nice-select.css" rel="stylesheet" />

    <link href="~/Content/css/section2.css" rel="stylesheet" />

</head>
<body>
    <a href="javascript:" id="return-to-top"><span class="icon-arrow-up"></span></a>
    <div class="site-wrap" id="home-nav">
        <section class="site-blocks-cover overflow-hidden bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center text-md-left">
                        <div class="intro-text">
                            <h1>
                                Little Minds
                                Shaping the World
                            </h1>
                            <p class=" mb-4" style="font-weight: bold; color: #15254f">
                                To navigate migrant parents
                                through Australian education system.
                            </p>
                            <p><a href="~/Home/ReadyKinder" class="btn btn-primary">Explore</a></p>



                        </div>
                    </div>
                    <div class="col-md-6 align-self-end text-center text-md-right" style="margin-top:50px">
                        <!--<img src="images/dogger_img_1.png" alt="Image" class="img-fluid cover-img">-->
                        <img src="~/Content/images/homeBG1.jpg" alt="Image" class="img-fluid cover-img" style="margin-top:50px">


                    </div>
                </div>

                <div><a id="toKedu" class="scroll-down" address="true"></a></div>
            </div>
        </section>

        <!--About us-->
        <section class="site-section bg-primary trainers" id="about-section">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up">

                    <div class="col-lg-6  heading-section mb-5" data-aos="fade-up" data-aos-delay="100">
                        <a data-fancybox data-ratio="1.5" href="https://www.youtube.com/embed/08F2CO_ozv4" class="video-img">
                            <span class="play">
                                <span class="icon-play"></span>
                            </span>


                            <img src="~/Content/images/about1.png" alt="Image" class="img-fluid">
                        </a>
                    </div>

                    <div class="col-lg-6 align-self-center mr-auto heading-section mb-5">
                        <div class="ml-4">
                            <img src="~/Content/images/bai12.png" style="max-width:60%; margin-bottom:10px" />
                        </div>
                        <h2 class="text-white mb-3">About Us</h2>
                        <p class="text-white mb-4"> Children from migrated families often face interrupted schooling along with cultural and language barriers. </p>
                        <p class="text-white mb-4">
                            There can also be signs of social isolation which can inhibit a child’s ability to learn and excel. This is where we step in, at ReadyforKinder we understand that as migrant parents it can be daunting sometimes to navigate your way through of Australian education system.<br /><br />

                        </p>
                        <!--
                        <p>On our website, we provide:</p>
                        <ul class="list-unstyled ul-paw primary mb-0 text-white">
                            <li>1.Current Trends of different aspects related to your children</li>
                            <li>2.Kindergarten Eligibility Checking</li>
                            <li>3.Nearby kindergartens Search</li>
                        </ul>
                          -->

                    </div>

                </div>
            </div>
        </section>
        <!--end of about us-->
        <!--4blocks-->
        <section class="site-section" id="kinder-education">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-10" data-aos="fade-right">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="text-black mb-3 ">
                                <h2>Why attend kindergarten?</h2><br>
                            </div>
                            <p class="about-cap-top">
                                Our Children develop essential skills such as social, emotional and problem-solving abilities that will become the building blocks of their future in the kindergarten.
                            </p>
                            <p style="margin-bottom:30px">
                                In the kindergarten, children unlock their full potential and grow with a happy,
                                safe and nurturing environment.
                            </p>
                            <p><a href="~/Home/WhyKinder" class="btn btn-primary">Explore More</a></p>
                        </div>
                    </div>
                    <div class="offset-xl-0 col-xl-6 offset-lg-0 col-lg-6 col-md-9 offset-md-1 offset-sm-1" data-aos="fade-left">
                        <div class="about-right-cap">
                            <div class="about-right-img">
                                <a class="hover-1">
                                    <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Rest blocks area start -->
            <div class="container" data-aos="fade-up">

                <div class="divider"></div>

                <div class="container-fluid stacked-cards stacked-cards-fanOut">

                    <ul>
                        <li>
                            <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                            <div style="margin-top:25px">
                                <h2 class="text-white "><a href="~/Home/VisualG" id="stacker">Health, Safety & Wellbeing</a> </h2>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                            <div style="margin-top:25px">
                                <h2 class="text-white "><a href="~/Home/VisualG" id="stacker">Find Differences</a> </h2>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                            <div style="margin-top:25px">
                                <h2 class="text-white "><a href="~/Home/AboutKG" id="stacker">Skills development</a> </h2>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                            <div style="margin-top:25px">
                                <h2 class="text-white "><a href="~/Home/VisualG" id="stacker">Benefits Of Kindergarten</a> </h2>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                            <div style="margin-top:25px">
                                <h2 class="text-white "><a href="~/Home/VisualG" id="stacker">Current trend VIC</a> </h2>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>




            <!-- Rest blocks End -->

        </section>

        <section>
            <div class="video-area section-bg2 d-flex align-items-end fix">

                <div class="container" id="section22" style="max-width:85%" >
                    <div class="video-contents" data-aos="fade-up">
                        <div class="row justify-content-between">
                            <div class="col-xl-5 col-lg-6 col-md-10">
                                <div class="mb-90 text-black" style="margin-bottom:20px">
                                    <h2>Ready For Kindergarten?</h2>
                                    <p class="tittle-pera1">
                                        A Child’s time spent in a Kinder plays a very crucial role in the child’s development and learning.
                                        Parents in Australia enrol their children to kindergarten when their children turn 4.
                                    </p>
                                    <a href="~/Home/ReadyKinder" class="btn btn-primary">Let's Start</a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-8">

                                <ul class="timeline">
                                    <li>
                                        <p><a target="_blank" href="~/Home/kinderElig">Eligibility Check</a></p>

                                        <p>Confused on how to enrol your child to a nearby kinder ?</p>
                                    </li>
                                    <li>
                                        <p><a href="~/kinderInfoSets/Index">Locate a Kindergarten</a></p>

                                        <p> it is important for your child to attend a kindergarten that is near to your workplace or your home</p>
                                    </li>
                                    <li>
                                        <p><a href="~/Home/EnrollmentMore">Enrol a kindergarten</a></p>

                                        <p> Once you have chosen a kindergarten the next step is to enrol.</p>
                                    </li>


                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
                <div class="visit-tailor-area fix">
                    <!--Right Contents  -->
                    <div class="tailor-offers" data-aos="fade-left">

                        <img src="~/Content/images/Horiz5.jpg" alt="Image" class="img-fluid" />
                    </div>
                    <!-- left Contents -->

                    <div class="tailor-details" data-aos="fade-right">
                        <div class="mb-90 text-black" style="margin-bottom:20px">
                            <h3>Compulsory?</h3>

                        </div>
                        <p>
                            In Australia, preschool attendance is not compulsory.
                            However, in recognition of its benefits, the Australian Government and state and territory governments have, since 2008,
                            committed to increase participation in high-quality education and care under a series of agreements on Universal Access to Early Childhood Education and Care in the year before full-time school
                            (Department of Education 2019).
                        </p>

                    </div>

                </div>
           


        </section>

        <section class="overlapSection pb-padding fix" data-aos="fade-up">
            <div class="container" style="max-width:1500px">
              
                    <div class="services-active">
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="link-container background-one" style="min-height:350px">
                                    <!---<a class="link-one1" data-toggle="modal" id="vis-nav" href="#vis-dialog">Current Trends</a>-->

                                    <div><a href="~/Home/VisualG" class="link-one1">Current Trends</a></div>

                                </div>
                                <div class="cat-cap">
                                    <h2 class="text-black"></h2>
                                    <p class="mb-4">
                                        Want to have a look at current trends for kindergarten enrolments and decide for your kids ?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="link-container background-three" style="min-height:350px">
                                    <!---<a class="link-one1" data-toggle="modal" id="vis-nav" href="#vis-dialog">Current Trends</a>-->
                                    <div><a href="~/Home/kinderElig" class="link-three">Eligibility</a></div>
                                </div>
                                <div class="cat-cap">
                                    <h2 class="text-black"> </h2>
                                    <p class="mb-4">
                                        Just moved to Australia? Want your child to be school ready ?<br /><br /> Confused on how to enrol your child to a nearby kinder ?

                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="link-container background-two" style="min-height:350px">

                                    <div><a href="~/kinderInfoSets/Index" class="link-two">Find Kinder</a></div>
                                </div>
                                <div class="cat-cap">
                                    <p class="mb-4">
                                        With so many kindergartens in Victoria, it is important for your child to attend a kindergarten that is near to your workplace or your home.<br/> This allows you to pick/drop your child without any hassle.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="link-container background-one" style="min-height:350px">

                                    <div><a href="~/Home/CSUBSIDY" class="link-one1">Subsidy</a></div>

                                </div>
                                <div class="cat-cap">
                                    <h2 class="text-black"> </h2>
                                    <p class="mb-4">
                                        Do you know that Australia offers assistance to help you with the cost of child care?<br />

                                    </p>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="link-container background-three" style="min-height:350px">
                                    <div><a href="~/Home/EnrollmentMore" class="link-three">Enrolment</a></div>
                                </div>
                                <div class="cat-cap">
                                    <h2 class="text-black"></h2>
                                    <p class="mb-4">
                                        Once you have chosen a kindergarten the next step is to enrol.
                                        Find out more about the Kindergarten enrolment process.

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            


        </section>




        <!--end of 4 blocks-->
        <!--start of function area-->
        <!--end of function area-->
        <!--FAQ-->
        <section class="site-section" id="question-section">
            <div class="container" id="accordion">  
                <div class="row justify-content-center" data-aos="fade-up">
                    <div class="col-lg-6 text-center heading-section mb-5">
                        <div class="paws">
                            <img src="~/Content/images/cai12.png" style="max-width:50%" />
                        </div>
                        <h2 class="text-black mb-2">FAQ</h2>
                        <p></p>
                    </div>
                </div>
                <div class="row accordion justify-content-center block__76208">
                    <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="">
                        <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid rounded">

                    </div>

                    <div class="col-lg-5 mr-auto order-lg-1" data-aos="fade-up" data-aos-delay="100">
                        <div class="accordion-item">
                            <h3 class="mb-0 heading" style="font-weight: bold; color: #f7acb4">
                                <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">When can my child start 4-year old Kindergarten?<span class="icon"></span></a>
                            </h3>
                            <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="body-text">
                                    <p>
                                        Children attending the 4 year old program must turn 4 on or before 30th April in the year they will attend, however we do encourage parents to discuss their child’s enrolment with staff if their child’s 4th birthday falls in the year of attendance.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- .accordion-item -->

                        <div class="accordion-item">
                            <h3 class="mb-0 heading" style="font-weight: bold; color: #f7acb4">
                                <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                                    Should my child be toilet Trained?
                                    <span class="icon"></span>
                                </a>
                            </h3>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="body-text">
                                    <p>
                                        We understand every child  develops at his / her own rate.  We encourage families to have begun toilet training and will work to support your child’s development to promote a positive outcome.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- .accordion-item -->

                        <div class="accordion-item">
                            <h3 class="mb-0 heading" style="font-weight: bold ; color: #f7acb4 ">
                                <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                                    What if my child is on medication?
                                    <span class="icon"></span>
                                </a>
                            </h3>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="body-text">
                                    <p>
                                        Educators can only administer medication prescribed by a doctor.
                                        They cannot administer non-prescription drugs or dietary supplements unless the service is provided with written authorisation by a doctor.
                                        Under no circumstances should medication be left in children’s bags.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- .accordion-item -->

                        <div class="accordion-item">
                            <h3 class="mb-0 heading" style="font-weight: bold; color: #f7acb4">
                                <a class="btn-block" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
                                    What to look for when I first visit a Kindergarten?

                                    <span class="icon"></span>
                                </a>
                            </h3>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="body-text">
                                    <p>
                                        Read whether Kindergarten’s atmosphere is welcoming ,relaxed and kids friendly.
                                        It should be a comfortable place with lots of options of fun games and activities and confident and caring educators who work well with children.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- .accordion-item -->

                    </div>


                </div>
            </div>
        </section>
        <!--FAQ-->



    </div>
    <script>
        $(function () {
            $('#toKedu').click(function () {
                $('html, body').animate({ scrollTop: $('section.site-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>

    <script>
        $(function () {
            $('#toFAQ').click(function () {
                $('html, body').animate({ scrollTop: $('#question-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>



    <script src="~/Scripts/js/stackedCards.min.js"></script>
    <script>
        var stackedCardSlide = new stackedCards({
            selector: '.stacked-cards-slide',
            layout: "slide",
            transformOrigin: "center",
        });

        stackedCardSlide.init();

        var stackedCardFanOut = new stackedCards({
            selector: '.stacked-cards-fanOut',
            layout: "fanOut",
            transformOrigin: "bottom",
        });

        stackedCardFanOut.init();
    </script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/main1.js"></script>
</body>
</html>