
@{
    ViewBag.Title = "KinderElig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
    <link href="~/Content/css/coolSideBar.css" rel="stylesheet" />
    <link href="~/Content/css/Myfont.css" rel="stylesheet" />
</head>


<body id="nav121">
    <div style="height:80px"></div>
    <a href="javascript:" id="return-to-top"><span class="icon-arrow-up"></span></a>

    <section class="site-section" id="kinder-education">


        <div class="container">

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center mb-2" id="blog11">
                    <h1 class="mb-2">Kindergarten Eligibility</h1>
                </div>
                <div class="col-lg-8 text-center mb-2" id="blog11">
                    <h3 class="green text-center mb-2 " style="font-weight:bold">
                        Did you know there are 2 different types of Kindergarten programs your child can go to?<br /><br />
                    </h3>

                </div>


            </div>

                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-2">
                        <div>
                            <ul class="breadcrumb">

                                <li>
                                    <a href="~/Home/KinderElig">
                                        <span class="icon icon-beaker"></span>
                                        <span class="text">Eligibility</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="~/Home/ReadyKinder">
                                        <span class="icon icon-beaker"></span>
                                        <span class="text">Get Ready</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~//Home/Index">
                                        <span class="icon icon-home"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog_right_sidebar1">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget post_category_widget">
                                    <h4 class="widget_title" style="color: #FFF; font-weight: bold;">Quick Navigation</h4>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#blog11" class="d-flex">
                                                <p>4-years Kindergarten</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#blog22" class="d-flex">
                                                <p>3-years Kindergarten</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#blog33" class="d-flex">
                                                <p>Public and Private Kinder</p>

                                            </a>
                                        </li>


                                    </ul>
                                </aside>


                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8 mb-3 mb-lg-2">
                        <div>
                            <article>
                                <div class="blog_item_img">
                                    <img class="rounded-0 img-fluid" src="~/Content/images/block1.jpeg" alt="">

                                </div>
                                <div class="blog_details">
                                    <h2 class="d-inline-block" style="color: #2d2d2d;">
                                        <a href="" data-toggle="modal" data-target=".blog1">
                                            4-years Kindergarten programs
                                        </a>
                                    </h2>


                                    <p>
                                        Your child must be 4 years of age before 30 April.<br />

                                        They are also known as “Funded Kindergarten”.
                                        Most 4 year old kindergarten programs are offered for 15 hours a week.
                                    </p>





                                </div>
                            </article>
                            <article class="blog_item" id="blog22">
                                <div class="blog_item_img">
                                    <img class="rounded-0 img-fluid" src="~/Content/images/block2.jpg" alt="">

                                </div>
                                <div class="blog_details">
                                    <h2 class="d-inline-block" style="color: #2d2d2d;">
                                        <a href="" data-toggle="modal" data-target=".blog2">
                                            3-years Kindergarten programs
                                        </a>
                                    </h2>

                                    <p>
                                        The Victorian Government is investing almost $5 billion over the decade to deliver Three-Year-Old Kindergarten.
                                        This program will run in sessional kindergartens along with some long day cares.
                                    </p>

                                </div>
                            </article>
                            <article class="blog_item" id="blog33">
                                <div class="blog_item_img">
                                    <img class="rounded-0 img-fluid" src="~/Content/images/block3.jpg" alt="">

                                </div>
                                <div class="blog_details">
                                    <h2 class="d-inline-block" style="color: #2d2d2d;">
                                        <a href="" data-toggle="modal" data-target=".blog3">
                                            Public or Private which one to choose?<br />
                                        </a>
                                    </h2>

                                    <p>

                                        As a migrant parent it can be difficult to choose between government based kindergartens and privately owned kindergartens.
                                        Let's find out how Public & Private Kindergartens differ from each other

                                    </p>

                                </div>
                            </article>


                        </div>
                    </div>
                </div>


            </div>
        <!--Modal-->
        <!--4-years-->
        <div class="modal fade blog1" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="darkBlue" style="font-weight:bold">4-years Kindergarten programs</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 mb-5">
                                <div style="margin-top:50px">
                                    <h3 class="green1">For 4 years old</h3>
                                    <p class="darkBlue">
                                        Your child must be 4 years of age before 30 April
                                    </p>
                                    <p class="darkBlue">
                                        They are also known as <strong>“Funded Kindergarten”</strong>. The Victorian government helps by providing funding to the services that contribute to the cost of running the program. This helps the parents to keep the fees of your four year old kindergarten as low as possible.
                                        Most 4 year old kindergarten programs are offered for 15 hours a week.
                                    </p>
                                </div>

                                <div>
                                    <h3 class="pink">Did you know?</h3>
                                    <p class="darkBlue">
                                        The Victorian Government subsidises fees for some children so they can attend kindergarten for free or at low cost in the year before they start primary school,usually when they are four years old.

                                    </p>
                                </div>
                                <div>
                                    <h3 class="green1">Is your child eligible?</h3>
                                    <p class="darkBlue">
                                        Your child is eligible if they:<br /><br />
                                        1.are a triplet or quadruplet<br /><br />
                                        2.hold (or have a parent or guardian who holds) a Commonwealth Health Card <br /><br />
                                        3.hold (or have a parent or guardian who holds) a Refugee or Asylum Seeker visa (200-204, 786 or 866)
                                        <br /><br />
                                        4.Bridging visas for any of the above Refugee or Asylum Seeker visas
                                        <br /><br />
                                        In case your family or child has a humanitarian or refugee visa listed by the Department of Immigration and Border Protection which might not be included in the list above,
                                        your child may still be eligible for Kindergarten fee subsidy.
                                        Please ask your child’s kindergarten educator or service manager if you think your child may be eligible for a fee subsidy.


                                    </p>
                                </div>
                                <div>
                                    <h3 class="pink">Your child can attend two years of Kindergarten only when:</h3>
                                    <p class="darkBlue">
                                        In exceptional circumstances when your child displays developmental delays in few learning areas - the child’s kindergarten teacher can apply for an additional year that might be needed for the child only after the discussion with the family and Preschool Field Officer.

                                        The second year will help the child learn and achieve better at kindergarten and prepare the child to go to school.Families eligible children must apply for an exemption from school if the child is turning six at any time in their second year of kindergarten attendance.

                                    </p>
                                </div>
                                <div>
                                    <h3 class="darkBlue"><a href="https://www.education.vic.gov.au/parents/child-care-kindergarten/Pages/kindergarten-programs.aspx">More information</a></h3>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End of 4years-->
        <!--3-years-->
        <div class="modal fade blog2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="darkBlue" style="font-weight:bold">3-years Kindergarten programs</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 mb-5">
                                <div style="margin-top:50px">
                                    <h3 class="green1">For 3 years old</h3>
                                    <p class="darkBlue">
                                        Your child must be 3 years of age before 30 April
                                    </p>
                                    <p class="darkBlue">
                                        The Victorian Government is investing almost $5 billion over the decade to deliver Three-Year-Old Kindergarten.
                                        This program will run in sessional kindergartens along with some long day cares.
                                        This Early Start Kindergarten will give access to two years of learning for children.
                                        This program will be available for three years olds in 6 government areas:
                                        <ul>
                                            <li>Buloke</li>
                                            <li>Hindmarsh</li>
                                            <li>Northern Grampians</li>
                                            <li>South Gippsland</li>
                                            <li>Strathbogie</li>
                                            <li>Yarriambiack</li>
                                        </ul>
                                        The Victorian government roll up strategy aims for providing three year old access to kindergarten services in 2022.
                                    </p>
                               
                                </div>

                                <div>
                                    <h3 class="pink1">
                                        Is your child eligible?
                                    </h3>
                                    <p class="darkBlue">
                                        Children eligible for the Early Start Kindergarten program can still access 15 hours of free kindergarten each week throughout the roll-out period.

                                    </p>
                                    <h3 class="green">Your child is eligible for Early Start Kindergarten if they:</h3>
                                    <p class="darkBlue">
                                        Aboriginal and/or Torres Strait Islander, or
                                        known to Child Protection or have been referred by Child Protection to Child FIRST
                                    </p>
                                </div>


                                <div>
                                   

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End of 3years-->
        <!--private-->
        <div class="modal fade blog3" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="darkBlue" style="font-weight:bold">Public and Private kindergartens</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 mb-5">
                                <div style="margin-top:50px">
                                    <h3 class="green1">
                                        Public or Private which one to choose?
                                    </h3>
                                    
                                    <p class="darkBlue">
                                        As a migrant parent it can be difficult to choose between government based kindergartens and privately owned kindergartens.
                                        Let's find out how Public & Private Kindergartens differ from each other
                                    </p>
                                </div>

                                <div>
                                    <h3 class="pink1">Public Kindergartens.</h3>
                                    <p class="darkBlue">
                                        In public schools, the curriculum is typically the same for all students which focuses on core subjects.
                                        This can be a solid foundation for beginning an education for children of all learning levels.
                                        Usually government owned facilities have more intake capacity but they sometimes face shortage of staff because public kindergartens have less control over staffing.This acts as a roadblock
                                        for children to get personalised attention.Public kindergartens usually have older infrastructure but they have a stronger focus on educational philosophy.
                                        These schools specifically focus on the moral, civic and behavioral development in addition to the intellectual development and academic learning.
                                        Teachers working in public school are required to hold all the state licenses and meet all the criteria to serve the students with special learning methods.

                                    </p>
                                </div>
                                <div>
                                    <h3 class="green1">Highlights of Public Kindergartens</h3>
                                    <p class="darkBlue">
                                        1.Considerably less school fees.<br /><br />
                                        2.Parents can avail child care subsidy provided by the Victorian government.<br /><br />
                                        3.Teachers and staff are certified<br /><br />
                                        4.Usually older facilities.<br /><br />
                                        5.Class sizes are generally larger.<br /><br />
                                        6.Admissions to preschools may usually be governed by catchment area.<br /><br />
                                        7.Not religious.<br /><br />
                                        8.Estimated cost of child education through the public system is $66,320. <br /><br />
                                    </p>
                                </div>
                                <div>
                                    <h3 class="pink1">Private Kindergartens</h3>
                                    <p class="darkBlue">
                                        Private Kindergartens can offer your child customised curriculum and a wide range of tailored programs you can choose from depending upon your child’s needs.
                                        They can offer specialised programs and give personalised attention to every child as the intake capacity is low as compared to public kindergartens. Private preschools have full control and authority over staffing.
                                        Children are encouraged to take up their area of interest where they get personalised attention as class size is small with lower student to teacher ratio.
                                        They offer better infrastructure and larger classrooms as they are independent bodies whose funding is not controlled by the government.Private kindergartens are expensive.
                                        If you are religious, private kindergartens can simulate an environment for your child that is more likely to reflect your values and instill deeper understandings of your choden faith.
                                    </p>
                                </div>
                                <div>
                                    <h3 class="green1">
                                        Highlights of Private Kindergartens
                                    </h3>
                                    <p class="darkBlue">
                                        1.Higher school fees in comparison.<br /><br />
                                        2.No child care subsidy.<br /><br />
                                        3.Modern Infrastructure.<br /><br />
                                        4.Personalised attention to children.<br /><br />
                                        5.Low intake capacity.<br /><br />
                                        6.Admission procedure is different from public Kindergartens.<br /><br />
                                        7.Religious.<br /><br />
                                        8.Estimated cost of child education through the private system in the city $475,342.
                                        <br /><br />
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--End of 3years-->
        <!--End of Modal-->

        <div style="margin-top:70px">
            <div class="text-center heading-section">
                <h2 class="text-black">Explore more ?</h2>
            </div>
            <div class="multi-button">
                <button><span class="icon-arrow-left"></span> @Html.ActionLink("Current Trends", "VisualG", "Home", new { @class = "button", @id = "navbtn" })</button>
                <button><a href="~/kinderInfoSets/Index" class="button" id="navbtn">Search Kindergarten</a> <span class="icon-arrow-right"></span></button>

            </div>
        </div>
    </section>



</body>
</html>

