
@{
    ViewBag.Title = "KinderElig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/css/kinderElig.css" rel="stylesheet" />
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
</head>

<body id="nav121">
    
    <section class="site-section" id="kinder-education">
        
        
        <div class="container">
            <div class="row justify-content-center" style="margin-top:100px">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h2 class="text-black mb-2">Kindergarten Eligibility</h2>

                </div>
            </div>

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h3 class="text-black mb-2">When children attend kindergarten?</h3>
                    <p>
                        There are two types of Kindergarten programs for 3 year old or 4 year old kids.
                    </p>
                </div>
            </div>

            <main class="padding-y-xl">


                <div class="container max-width-adaptive-md margin-bottom-lg">
                    <ul class="stack-cards js-stack-cards">

                        <li data-theme="default" class="stack-cards__item bg radius-lg shadow-md js-stack-cards__item">
                            <div class="grid">
                                <div class="text-center heading-section">
                                    <h2 class="text-black">3 years vs 4 years</h2>
                                </div>
                                <div class="col-6 flex items-center height-100%">
                                    <div class="text-component padding-md ">
                                        <h2 class="text-center">Three-year kindergarten </h2>
                                        <p class="display@xs">Age: Must be 3 years of age before 30 April </p>
                                        <p class="display@xs">
                                            The Victorian government has introduced a “funded Three-Year-Old Kindergarten” in some areas.
                                            There are few kindergarten programs that means only eligible children can attend a Kindergarten program at low cost
                                        </p>
                                        <p><a href="https://www.education.vic.gov.au/about/programs/Pages/three-year-old-kinder.aspx">Helpline link</a></p>
                                    </div>
                                </div>

                                <div class="col-6 flex items-center height-100%" ">
                                    <div class="text-component padding-md ">
                                        <h2 class="text-center">Four-year kindergarten </h2>
                                        <p class="display@xs">
                                            Age: Must be 4 years of age before 30 April
                                        </p>
                                        <p class="display@xs">
                                            It is called 'funded Kindergarten' because the Victorian government will help Kindergarten with the cost of your child attending 15 hours each week<br />.

                                        </p>

                                        <p><a href="https://www.education.vic.gov.au/parents/child-care-kindergarten/Pages/kindergarten-programs.aspx">Helpline link</a></p>
                                    </div>
                                </div>
                            </div>
                        </li>





                        <li data-theme="default" class="stack-cards__item bg radius-lg shadow-md js-stack-cards__item">
                            <div class="grid">
                                <div class="text-center heading-section">
                                    <h2 class="text-black">Government funded vs Private </h2>
                                </div>
                                <div class="col-6 flex items-center height-100%">
                                    <div class="text-component padding-md ">
                                        <h2 class="text-center">Government funded </h2>
                                        <p class="display@xs">
                                            In public schools, the curriculum is typically the same for all students and focuses on core subjects.
                                            This can be a solid foundation for beginning an education for students of all learning levels.

                                        </p>
                                        <p class="display@xs">

                                            <ul class="list-unstyled  primary mb-0 text-black">
                                                <li>1.Considerably less school fee’s.</li>
                                                <li>2.Usually older facilities.</li>
                                                <li>3.Class sizes are generally larger.</li>
                                                <li>4.Not religious.</li>
                                            </ul>

                                            <br />
                                        </p>

                                    </div>
                                </div>

                                <div class="col-6 flex items-center height-100%">
                                    <div class="text-component padding-md ">
                                        <h2 class="text-center">Private </h2>
                                        <p class="display@xs">
                                            One of the biggest benefits of private preschools is that they often have more flexibility with their curricula.
                                            Students can thrive in classes tailored to their interests and needs and class sizes are generally smaller.
                                        </p>
                                        <p class="display@xs">
                                            <ul class="list-unstyled  primary mb-0 text-black">
                                                <li>1.Fee’s are much higher in comparison.</li>
                                                <li>2.Facilities are usually more modern.</li>
                                                <li>3.Admissions are lengthier and more complicated and there are usually more requirements.</li>
                                                <li>4.Class sizes are usually smaller.</li>
                                                <li>5.There is religious education taught in most private/independent schools.</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li data-theme="default" class="stack-cards__item bg radius-lg shadow-md js-stack-cards__item">
                            <div class="grid">
                                <div class="text-component padding-md ">

                                    <h2 class="text-black text-center">
                                        Supporting Children with Additional Needs
                                    </h2>
                                    <p class="text-center">
                                        It is of vital importance to support your child from his early years of development.
                                    </p>
                                    <p>
                                        Early Childhood Intervention Services (ECIS)<br />
                                        ECIS aims to provide the best possible specialist support for children who are disabled or undergo developmental delay.
                                        They work closely with parents and families to upskill them for the development of their child.
                                    </p>
                                    <p>
                                        Services Offered:<br />
                                        <ul class="list-unstyled  primary mb-0 text-black">
                                            <li>1.Special Education</li>
                                            <li>
                                                2.Advice and Counsel
                                            </li>
                                            <li>3.Therapy</li>
                                            <li>
                                                4.Bridging you with other similar support services.
                                            </li>
                                            <li>
                                                Help with school transition
                                            </li>
                                            <li>
                                                Help in enhancing your parenting skills.
                                            </li>
                                        </ul>
                                    </p>
                                    <p>
                                        To apply for ECIS - Follow NDIS Early Childhood Early Intervention approach
                                        NDIS appoints Early Childhood partners in each area of Victoria.
                                        Early Childhood Partners are experienced in providing extra special care for children.
                                        For detailed information please contact your nearest Early Childhood Partner

                                    </p>




                                </div>
                            </div>
                        </li>


                    </ul>
                </div>



                <div class="text-center heading-section">
                    <h2 class="text-black">Explore more ?</h2>
                </div>

                <div style="margin-top:10px">
                    <div class="multi-button">
                        <button><span class="icon-arrow-left"></span> @Html.ActionLink("Current Trends", "VisualG", "Home", new { @class = "button", @id = "navbtn" })</button>
                        <button><a href="~/kinderInfoSets/Index" class="button" id="navbtn">Search Kindergarten</a> <span class="icon-arrow-right"></span></button>

                    </div>
                </div>


            </main>





        </div>
    </section>

    <script>
        $("#img001").hide();
    </script>

</body>
</html>

