.example-post {
    position: relative;
    padding: 0;
    color: #7f8b90;

}


    .example-post:before {
        content: "";
        display: block;
        background: linear-gradient(to right top, #CDDC39 0%, #03A9F4 50%, #e6f0f5 50%);
        height: calc(100% - 200vh + 6px);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .example-post:after {
        content: "";
        display: block;
        background: #FFF;
        height: calc(100vh - 6px);
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        bottom: 6px;
        left: 0;
    }

.entry-content {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: calc(100vh + 6px);
    padding: 0 15px;
}

/* demo stuff */
